{% if (DONATION_INDEX_ENABLE and S_USER_LOGGED_IN and S_DONATE_ENABLED and DONATION_INDEX_BOTTOM) and (DONATION_ACHIEVEMENT_ENABLE or DONATION_GOAL_ENABLE) %}
<h3><a href="{{ U_DONATE }}">{{ lang('DONATIONS_INDEX') }}</a></h3>
{% if DONATION_GOAL_ENABLE and DONATION_ACHIEVEMENT_ENABLE and DONATION_GOAL > 0 %}
	<div class="grey"><div id="{% if DONATION_GOAL_NUMBER < 34 %}red" style="{% elseif DONATION_GOAL_NUMBER < 67 %}yellow" style="{% else %}green" style="{% endif %} width:{{ DONATION_GOAL_NUMBER }}%;"><span class="donation">{{ DONATION_GOAL_NUMBER }}{% if DONATION_GOAL_NUMBER >= 3 %}%{% endif %}</span></div></div>
{% endif %}
<p id="donation">{% if DONATION_ACHIEVEMENT_ENABLE %}{{ lang('DONATION_ACHIEVED') }}{% endif %} {% if DONATION_GOAL_ENABLE and DONATION_GOAL > 0 %} {{ lang('DONATION_GOAL') }}{% endif %}</p>
{% endif %}