.icon-donate {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: none;
	padding: 1px 0 0 1px;
	background-image: url("./images/icon_donate.gif");
}

.grey {
	background: url('./images/prog_grey.png') repeat-x; 
	background-color: #cccccc; 
	border: 1px solid black; 
	border-radius: 6px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	width:100%; 
	margin-top: 2px;
}

span.donation  {
    padding-left:10px; 
	font-size:12px; 
	line-height:16px;
}

#donation-load {
	width: 16px; 
	height: 16px; 
	margin-bottom: -5px; 
	padding-right: 10px;
	background-repeat: no-repeat;
	background-image: url("./images/loader.gif");
}

#donation {
	margin-top:10px; 
	font-size:1.3em;
	text-align:center;
}

#donation-pay {
	text-align:center; 
	padding-top:6px;
}

#donation-amount {
	height:17px;
	font-size:12px;
}

#processingpaypal {
	margin-top:8px; 
	display:none;
}

#red {
	background: url('./images/prog_red.png') repeat-x; 
	background-color: #008040; 
	color: white; 
	font-weight:bold; 
	max-width:100%;
	height:16px; border-radius: 6px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-right: 1px solid black;
}

#yellow {
	background: url('./images/prog_yellow.png') repeat-x; 
	background-color: #008040; 
	color: white; 
	font-weight:bold; 
	max-width:100%;
	height:16px; border-radius: 6px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-right: 1px solid black;
}

#green {
	background: url('./images/prog_green.png') repeat-x; 
	background-color: #008040; 
	color: white; 
	font-weight:bold; 
	max-width:100%;
	height:16px; 
	border-radius: 6px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-right: 1px solid black;
}