<!-- INCLUDE overall_header.html -->

<h2>{L_DONATION_TITLE_HEAD} {SITENAME}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- IF DONATION_GOAL_ENABLE and DONATION_ACHIEVEMENT_ENABLE and DONATION_GOAL > 0 -->
		<div style="background:url('{BOARD_URL}ext/dmzx/donation/styles/prosilver/theme/images/prog_grey.png') repeat-x; background-color: #cccccc; border: 1px solid black; border-radius: 6px;	-moz-border-radius: 6px; -webkit-border-radius: 6px; width:100%; margin-top: 2px;"><div style="background:url('{BOARD_URL}ext/dmzx/donation/styles/prosilver/theme/images/prog_<!-- IF DONATION_GOAL_NUMBER < 34 -->red<!-- ELSEIF DONATION_GOAL_NUMBER < 67 -->yellow<!-- ELSE -->green<!-- ENDIF -->.png') repeat-x;background-color: #008040; color: white; font-weight:bold; max-width:100%;<!-- IF DONATION_GOAL_NUMBER < 100 --> border-right: 1px solid black;<!-- ENDIF -->	width:{DONATION_GOAL_NUMBER}%; height:24px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;"><span style="padding-left:10px; font-size:18px;">{DONATION_GOAL_NUMBER}<!-- IF DONATION_GOAL_NUMBER >= 5 -->%<!-- ENDIF --></span></div></div>
		<!-- ENDIF -->
		<!-- IF DONATION_ACHIEVEMENT_ENABLE or DONATION_GOAL_ENABLE -->
		<p style="margin-top:10px; font-size:1.5em; text-align:center;"><!-- IF DONATION_ACHIEVEMENT_ENABLE -->{L_WE_HAVE_ACHIEVED} <strong><!-- IF DONATION_ACHIEVEMENT > 0 -->{DONATION_ACHIEVEMENT}<!-- ELSE -->{DONATION_GOAL_NUMBER}<!-- ENDIF --></strong><!-- IF DONATION_GOAL_CURRENCY_ENABLE --> {DONATION_GOAL_CURRENCY}<!-- ENDIF --> {L_WE_HAVE_ACHIEVED_IN}<!-- ENDIF --><!-- IF DONATION_GOAL_ENABLE and DONATION_GOAL > 0 --> {L_OUR_DONATION_GOAL} <strong>{DONATION_GOAL}</strong><!-- IF DONATION_GOAL_CURRENCY_ENABLE --> {DONATION_GOAL_CURRENCY}<!-- ENDIF -->.<!-- ENDIF --></p><hr />
		<!-- ENDIF -->
		<!-- IF DONATION_BODY -->{DONATION_BODY}<!-- ELSE --><p>{L_DONATION_BODY_DEFAULT}</p><!-- IF U_ACP --><p><em>{L_DONATION_ADMIN_DEFAULT}</em></p><!-- ENDIF --><!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div style="text-align:center; padding-top:6px;">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<div>
		<input type="hidden" name="cmd" value="_xclick" />
		<input type="hidden" name="business" value="{DONATION_EMAIL}" />
		<input type="hidden" name="item_name" value="{L_DONATION_TITLE} {SITENAME}" />
		<input type="hidden" name="no_shipping" value="1" />
		<input type="hidden" name="return" value="{U_DONATE_SUCCESS}" />
		<input type="hidden" name="cancel_return" value="{U_DONATE_CANCEL}" />
		<input type="hidden" name="item_number" value="{S_USERNAME}" />
		<input type="hidden" name="tax" value="0" />
		<input type="hidden" name="bn" value="PP-DonationsBF" />

		<input type="text" name="amount" style="height:17px; font-size:12px;" class="inputbox autowidth" />
		<select name="currency_code" id="currency_code">
		<option value="USD" selected="selected">{L_DONATION_USD}</option>
		<option value="EUR">{L_DONATION_EUR}</option>
		<option value="GBP">{L_DONATION_GBP}</option>
		<option value="JPY">{L_DONATION_JPY}</option>
		<option value="AUD">{L_DONATION_AUD}</option>
		<option value="CAD">{L_DONATION_CAD}</option>
		<option value="HKD">{L_DONATION_HKD}</option>
		</select>
		</div>
		<fieldset id="contactpaypal" class="submit-buttons" style="margin-top:8px;">
					<input type="reset" class="button2" name="reset" value="{L_RESET}" />
					<input type="submit" class="button1" name="submit" value="{L_SUBMIT}" onclick="JavaScript:document.getElementById('contactpaypal').style.display='none';document.getElementById('processingpaypal').style.display='block';" />
		</fieldset>
		<fieldset id="processingpaypal" class="submit-buttons" style="margin-top:8px; display:none;">
					<img src="{BOARD_URL}ext/dmzx/donation/styles/prosilver/theme/images/loader.gif" width="16" height="16" alt="" style="margin-bottom:-5px; padding-right:10px;" /> <input type="submit" class="button1" name="submit" value="{L_DONATION_CONTACT_PAYPAL}" />
		</fieldset>
		</form>
	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE overall_footer.html -->